.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button {
  background-color: green;
  font-height: bold;
  cursor: pointer;
}
